@keyframes TextSpacing {
    0% {
        bottom: 300px;
        opacity: 0%;
    }
    100% {
        bottom: 55px;
        opacity: 100%;
    }
}

.transition-enter {
    opacity: 0;
    z-index: 1;
}
  
.transition-enter .transition-enter-active {
    opacity: 1;
}